{% block header %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="./css/skeleton.css" />
        <link rel="stylesheet" type="text/css" href="./css/custom.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Monda&family=JetBrains+Mono&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
        <hr/>
        <div class="container">
            <div class="row">
                <div class="twelve columns footer">
                    <p>Information here is free to copy with or without attribution, as long as you don't make it proprietary in your own reproductions.</p>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
