{% extends "base.njk" %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 style="padding-top: 20px;">Stratus Hill</h1>
                <h5><em>{{ tagline }}</em></h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <p style="padding-top: 20px;">
            Hello! This website is under construction and will (hopefully, eventually) 
            offer tiny web applications of both silly and useful flavors.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="one-half column">
            <h2>About me</h2>
            <p>
            I'm Nik. I like fiddling around with code &amp; electronics, taking pictures, listening to/playing/writing music, cooking, and biking. I hope to have a successful garden this year.
            </p>
        </div>
        <div class="one-half column">
            <h2>Contact</h2>
            <ul>
                <li><strong>Gmail:</strong> nik.spurgetis</li>
                <li><strong>PGP:</strong> (<a href="./public.key">binary</a> <a href="pgp">ascii</a>)</li>
                <li><strong>IRC:</strong> nspurgetis on <a href="https://freenode.net/" target="_blank">freenode</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="one-third column app">
            <h4>Apps!</h4>
            <p>...apps</p>
        </div>
        <div class="one-third column app">
            <h4>Coming!</h4>
            <p>...coming</p>
        </div>
        <div class="one-third column app">
            <h4>Soon!</h4>
            <p>...soon</p>
        </div>
    </div>
    <div class="row">
        <div class="one-third column app">
            <h4>Maybe!</h4>
            <p>...maybe</p>
        </div>
        <div class="one-third column app">
            <h4>We'll!</h4>
            <p>...we'll</p>
        </div>
        <div class="one-third column app">
            <h4>See!</h4>
            <p>...see</p>
        </div>
    </div>
</div>


{% endblock %}
