body {
    color: #ccddde;
    background-color: #1a2121;
}

pre {
    font-family: "JetBrains Mono", monospace;
    color: #ccddde;
}

hr {
    border-top: 1px solid #203828;
}

a:link {
    color: #63d0ff;
}

a:visited {
    color: #4cb094;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(26,33,33,1)), url("../img/cloud-hero.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.app {
    border: 2px solid #233b3b;
    padding-top: 15px;
    margin: 5px;
    text-align: center;
    transition: background-color 0.125s linear;
    transition: color 0.125s linear;
}

.app:hover {
    color: #eeffff;
    background-color: #233b3b;
}

.footer {
    font-size: 80%;
    font-style: oblique;
}
